Web Scraping

In [2]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [31]:
url = r'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=&customizationToken=MC_Assembly_1%23B0752XJYNL'

page = requests.get(url)
soup1 = BeautifulSoup(page.content, 'html.parser')   
soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')
title = soup2.find(id='productTitle').get_text()
symbol = soup2.find("span", class_="a-price-symbol").get_text(strip=True)
whole = soup2.find("span", class_="a-price-whole").get_text(strip=True)
fraction = soup2.find("span", class_="a-price-fraction").get_text(strip=True)
price = f"{symbol}{whole}{fraction}"


print(title.strip())
print(price)

Got Data Funny Business Data Analyst T-Shirt
$15.99

In [32]:
price= price.strip()[1:]
title = title.strip()
print(title)
print(price)

Got Data Funny Business Data Analyst T-Shirt
15.99

In [39]:
import datetime
today =datetime.date.today()

In [45]:
#making data frame
import csv
header = ['Title', 'Price', 'Date']
Data = [title, price,today]

with open('AmazonWebScraperData.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(Data)

In [46]:
import pandas as pd
df = pd.read_csv('AmazonWebScraperData.csv')
df

                                          Title  Price        Date
0  Got Data Funny Business Data Analyst T-Shirt  15.99  2025-05-08

In [ ]:
#now we will append the data to the csv file
with open('AmazonWebScraperData.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(Data)

In [71]:
# If uou want to try sending yourself an email (just for fun) when a price hits below a certain level you can try it
# out with this script
import smtplib

def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
    server.ehlo()
    server.login('tyagiyaxh627@gmail.com', 'ooro zpad pllv zlbs')  # Use your app password here

    subject = "The Shirt you want is below $15! Now is your chance to buy!"
    body = (
        "Alex, This is the moment we have been waiting for. "
        "Now is your chance to pick up the shirt of your dreams. "
        "Don't mess it up! Link here: "
        "https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/"
    )
    msg = f"Subject: {subject}\n\n{body}"

    # Fix: Add the recipient's email address correctly
    server.sendmail(
        'tyagiyaxh627@gmail.com',  # sender
        'tyagiyash627@gmail.com',   # recipient
        msg                        # message
    )

    server.quit()
    print("Email sent!")

send_mail()

Email sent!

In [74]:
def price_Check():
    url = r'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=&customizationToken=MC_Assembly_1%23B0752XJYNL'

    page = requests.get(url)
    soup1 = BeautifulSoup(page.content, 'html.parser')   
    soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')
    title = soup2.find(id='productTitle').get_text()
    symbol = soup2.find("span", class_="a-price-symbol").get_text(strip=True)
    whole = soup2.find("span", class_="a-price-whole").get_text(strip=True)
    fraction = soup2.find("span", class_="a-price-fraction").get_text(strip=True)
    price = f"{symbol}{whole}{fraction}"

    price= price.strip()[1:]
    title = title.strip()
    import datetime
    today =datetime.date.today()
    import csv
    header = ['Title', 'Price', 'Date']
    Data = [title, price,today]
    with open('AmazonWebScraperData.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(Data)

    if float(price) < 17:
        send_mail()

In [75]:
while True :
    price_Check()
    time.sleep(3) #time in seconds

Email sent!
Email sent!
Email sent!
Email sent!
Email sent!
Email sent!

KeyboardInterrupt:

In [52]:
import pandas as pd
df = pd.read_csv('AmazonWebScraperData.csv')
df

                                          Title  Price        Date
0  Got Data Funny Business Data Analyst T-Shirt  15.99  2025-05-08
1  Got Data Funny Business Data Analyst T-Shirt  15.99  2025-05-08
2  Got Data Funny Business Data Analyst T-Shirt  15.99  2025-05-08
3  Got Data Funny Business Data Analyst T-Shirt  15.99  2025-05-08
4  Got Data Funny Business Data Analyst T-Shirt  15.99  2025-05-08
5  Got Data Funny Business Data Analyst T-Shirt  15.99  2025-05-08
6  Got Data Funny Business Data Analyst T-Shirt  15.99  2025-05-08
7  Got Data Funny Business Data Analyst T-Shirt  15.99  2025-05-08
8  Got Data Funny Business Data Analyst T-Shirt  15.99  2025-05-08

In [ ]:
ratings = soup2.find("i",class_ = "a-icon-alt").get_text(strip=True)

In [55]:
reviews = soup2.find("span", id="acrCustomerReviewText").get_text(strip=True)
print("Reviews:", reviews)

Reviews: (22)

In [56]:
import re

reviews_text = soup2.find("span", id="acrCustomerReviewText").get_text(strip=True)
reviews_number = int(re.search(r'\d+', reviews_text).group())

print("Number of Reviews:", reviews_number)

Number of Reviews: 22